Rankings across all GP ministries
<br>
You need to read <%= @next_ten_percent[0] - @your_annual_count %> chapters to get to the <%=@next_percentile.to_json.html_safe%> percentile.
<div id="ranking">
  <canvas id="rankingChart" width="400" height="200"></canvas>
</div>
<script>
var your_ranking = <%=@your_ranking_percentile.round(2).to_json.html_safe%>;
var rankingChart = new Chart(document.getElementById("rankingChart").getContext('2d'), {
    type: 'bar',
    data: {
      labels: ["","Percentile","","","","","","",""],
      datasets: [
        {
          label: "Your Ranking: ",
          type: "line",
          borderColor: "#000000",
          borderWidth: 3,
          pointRadius: 0,
          data: [your_ranking,your_ranking,your_ranking],
          fill: false
        },
        {
          label: "0%",
          backgroundColor: "#3e95cd",
          data: [0,0,0]
        }, {
          label: "10%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "20%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "30%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "40%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "50%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "60%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "70%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "80%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "90%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }, {
          label: "100%",
          backgroundColor: "#3e95cd",
          data: [0,10,0]
        }
      ]
    },
    options: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: 'Your Percentile in Chapters Read for ' + <%= Date.today.year %> + ': ' + your_ranking + "%"
      },
    scales: {
      xAxes: [{
          stacked: true,
          display: false
      }],
      yAxes: [{
          stacked: true,
          display: false
      }]
  }
    }
});
</script>