.Cards {
  display: flex;
  flex-wrap: wrap;

  .Card {
    width: calc(50% - #{$margin});
    // border: solid 1px $border-color;
    border-radius: $border-radius + 5px;
    padding: $padding;
    margin: $margin / 2;
    background: rgba(255,255,255,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-column {
      flex-direction: column;
    }
  }
}