$challenge-sidebar-color: #eee;

.trigger {

  &:hover {
    cursor: pointer;
  }
}

.Challenge {
  display: flex;

  &_left {
    width: 100%;
  }

  &_right {
    background-color: $challenge-sidebar-color;
    min-height: calc(100vh - 75px);
    padding: $padding;
    width: 500px;
  }

  &_buttonContainer {
    text-align: center;
    margin-bottom: $margin;
  }

  &_table {
    border-collapse: collapse;
    width: 80%;

    tr {
      // background-color: red;

      &:nth-child(odd) {
        background-color: #eee;
      }

      td {
        padding: $padding;
      }
    }
  }

  &_clusters {
    display: flex;
  }

  &_cluster {
    margin-right: $margin;
    text-align: center;
  }

  &_teamName {
    font-size: 18px;
  }

  &_score {
    font-size: 40px;
    font-weight: 600;
  }

  &_desc {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .result {
    margin-top: $margin;
  }
}