$challenge-sidebar-color: #eee;

.Challenge {
  display: flex;

  &_left {
    width: 100%;
  }

  &_right {
    background-color: $challenge-sidebar-color;
    min-height: calc(100vh - 75px);
    padding: $padding;
    width: 500px;
  }

  &_buttonContainer {
    text-align: center;
    margin-bottom: $margin;
  }
}