<h1>This is the dashboard</h1>
<div>
	Percentage of bible read: <%=@percentage_of_bible%>%
</div>
<% if not @last_book_read %>
  You have not read any books.
<% else %>
	Percentage of <%=@last_book_read%> read: <%=@percentage_of_last_book%>
<% end %>
