<div class="Login">
  <div>
    <div class="Login_title">
      Bible Fitbit
    </div>
    <%= link_to "Sign in with Gpmail", "/auth/google_oauth2", id: "sign_in", class: "Button Button-light" %>
  </div>
</div>