<div class="Login">
  <div>
    <div class="Login_title">
      Bible Fitbit
    </div>
    <%= link_to "We disabled Bible Fitbit on mobile browsers to encourage you to use Bible Fitbit on your computer instead of on your smartphone, as a way to help all of us regain back our humanity.", "", id: "sign_in", class: "Button Button-light" %>
  </div>
</div>