<div class="Container">
  <h1>Create a challenge</h1>
  
  <p class="strong">Please begin by inputting your side of the challenge.</p>

  <div id="form">
  <%= render partial: 'form' %>
  </div>
</div>