 <h1>Create a challenge</h1>

  <p>Hello <%= @user.name %>, you have come to this page to issue a challenge.</p>
  <p class="strong">Please begin by inputting your side of the challenge.</p>

  <div id="form">
  <%= render partial: 'form' %>
  </div>