<script>
    $(document).ready(function() { $("#dropdown").select2(); });
 </script>  

  <%= form_tag("/search", method: "get", remote:true) do %>
  	<%= select_tag 'book', options_from_collection_for_select(@books, "id", "book", selected=@selected_book), prompt: "Select Book", id: "dropdown"%>
  	<%= submit_tag "Select", :id => 'select' %>
<% end %>


<table cellpadding="0" cellspacing="0" id="our_table">
  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
  </tr>
  <tr>
    <td>d</td>
    <td>e</td>
    <td>f</td>
  </tr>
  <tr>
    <td>g</td>
    <td>h</td>
    <td>i</td>
  </tr>
</table>


<table cellpadding="0" cellspacing="0" id="our_table">
  <% @books.each do |book| %>   
    <tr>
      <% (1..book.ch_num).each do |num| %>
        <td> 
          <%= num %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>