<script>
    $(document).ready(function() { $("#chapter_book").select2(); });
 </script>  

<div>
  <%= simple_form_for(@selected_book, url: search_path, :method => :post, remote: true) do |f| %>
  	<%= f.input :book, collection: @book_names, :include_blank => 'Select Book', label: false, selected: @previous_book %>
  	<%= f.button :submit, 'Select', data: { disable_with: false }%>
  <% end %>
</div>
<div id="log_table" >
    <%= render partial: 'log_table', locals: {chapters: @chapter_num}  %>
</div>